{{> header}}
<div class="container mt-5">
     {{#if DeleteSuccess}}
        <p class="alert alert-success offset-md-3 col-md-6">Data Has Been Deleted Successfully</p>
     {{/if}}
    <p class="alert text-center alert-success font-weight-bold">Customer Data Information</p>
    <div class="row mt-5">
        {{#each results}}
        <div class="col-md-3">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top"
                        src="https://cdn.pixabay.com/photo/2013/07/13/10/07/man-156584__340.png" name="basavaraj">
                    <div class="card-body">
                        <h4 class="card-title">{{firstname}} {{lname}}</h4>
                        <p class="card-text text-center">{{mobile_number}}</p>
                        <p class="card-text text-center">{{dob}}</p>
                        <p class="card-text text-center">
                            <a href="/delete_customer/{{id}}" class="btn btn-block btn-danger">Delete</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>